<div class="container">
  <div class="row gx-4 gy-4 justify-content-center">
    <!-- COL IZQUIERDA -->
    <div class="col-12 col-xl-7 col-md-6">
      <p class="fs-3 fw-semibold">Título de la experiencia</p>
      <textarea
        class="form-control form-control-lg auto-expand fw-semibold fs-3 mb-3"
        rows="1"
        [(ngModel)]="nuevaExperiencia.titulo"
        (input)="autoResize($event)"
      ></textarea>

      <p class="fs-3 fw-semibold">Descripción</p>
      <textarea
        class="form-control auto-expand mb-3"
        rows="4"
        [(ngModel)]="nuevaExperiencia.descripcion"
        (input)="autoResize($event)"
      ></textarea>
    </div>

    <!-- COL DERECHA -->
    <div class="col-12 col-xl-5 col-md-5">
      <p class="fs-3 fw-semibold">Ubicación</p>
      <input
        id="autocomplete"
        class="form-control mb-3"
        type="text"
        placeholder="Busca una dirección..."
      />

      <google-map
        height="40px"
        width="100%"
        [center]="center"
        [zoom]="zoom"
        height="400px"
        width="100%"
        (mapClick)="onMapClick($event)"
      >
        <map-marker
          *ngIf="markerPosition"
          [position]="markerPosition"
        ></map-marker>
      </google-map>

      <p class="fs-3 fw-semibold mt-4">Precio</p>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="nuevaExperiencia.precio"
      />
    </div>
  </div>
</div>
