<h4 class="fw-bold mb-3">Mis Cupones</h4>
<p class="text-muted small mb-2 ms-2">
  ¿Tienes un cupón? Guárdalo en tu cuenta y no lo pierdas.
</p>
<div class="d-flex mb-4 gap-2 ms-2">
  <input type="text" class="form-control w-50" placeholder="Código de cupón" />
  <button class="btn btn-primary rounded-3">Ingresar</button>
</div>

<!-- Tabs -->
<div class="container-sm border rounded-4 mt-2 bg-white">
  <ul
    class="nav nav-underline mt-2 justify-content-center border-bottom">
    <li class="nav-item">
      <button
        class="nav-link"
        [class.active]="selectTab === 'vigentes'"
        (click)="selectTab = 'vigentes'"
      >
        Vigente
      </button>
    </li>
    <li class="nav-item">
      <button
        class="nav-link"
        [class.active]="selectTab === 'expirados'"
        (click)="selectTab = 'expirados'"
      >
        Expirado
      </button>
    </li>
  </ul>

  <!-- Área de contenido -->
  <div class="py-3 px-5">
    <div *ngIf="selectTab === 'vigentes'">
      <div *ngFor="let cupon of couponActive" class="mb-3">
        <app-card-coupon [coupon]="cupon"></app-card-coupon>
      </div>
      <div
        *ngIf="couponActive.length === 0"
        class="text-muted text-center py-4"
      >
        No tienes cupones vigentes actualmente.
      </div>
    </div>

    <div *ngIf="selectTab === 'expirados'">
      <div *ngFor="let cupon of couponInactive" class="mb-3">
        <app-card-coupon [coupon]="cupon"></app-card-coupon>
      </div>
      <div
        *ngIf="couponInactive.length === 0"
        class="text-muted text-center py-4"
      >
        No tienes cupones expirados.
      </div>
    </div>
  </div>
</div>
