<app-navbar></app-navbar>
<div class="d-flex flex-column align-items-center">
  <!-- BUSQUEDA -->
  <div class="img-background w-75 rounded-bottom-4">
    <div class="container-sm shadow border rounded-4 w-75 mt-5 bg-white">
      <ul class="nav nav-underline m-3 justify-content-center poppins-regular">
        <li
          class="nav-item d-flex justify-content-center align-items-center nav-link"
          [class.active]="selectedTab === 'vuelos'"
          (click)="selectTab('vuelos')"
        >
          <i class="bi bi-airplane-fill me-1"></i>
          <a class="custom-tab fs-6" href="#">Vuelos </a>
        </li>
        <li
          class="nav-item d-flex justify-content-center align-items-center nav-link"
          [class.active]="selectedTab === 'hospedaje'"
          (click)="selectTab('hospedaje')"
        >
          <i class="bi bi-house-fill me-1"></i>
          <a class="custom-tab fs-6" href="#">Hospedaje </a>
        </li>
        <li
          class="nav-item d-flex justify-content-center align-items-center nav-link"
          [class.active]="selectedTab === 'actividades'"
          (click)="selectTab('actividades')"
        >
          <i class="bi bi-car-front-fill m-1"></i>
          <a class="custom-tab fs-6" href="#"> Actividades </a>
        </li>
      </ul>

      <!-- OPCIONES -->
      <!-- Opción Vuelos -->
      <div *ngIf="selectedTab === 'vuelos'" class="my-4">
        <div
          class="row g-2 d-flex justify-content-center align-items-center poppins-light"
        >
          <div class="form-floating col-lg-auto col-md-4 col-11">
            <input
              type="text"
              class="form-control form-control-sm"
              id="floatingOrigen"
              placeholder="Origen"
            />
            <label for="floatingOrigen">Origen</label>
          </div>
          <div class="form-floating col-lg-auto col-md-4 col-11">
            <input
              type="text"
              class="form-control form-control-sm"
              id="floatingDestino"
              placeholder="Destino"
            />
            <label for="floatingDestino">Destino</label>
          </div>
          <div class="form-floating col-lg-2 col-md-4 col-11">
            <input
              type="date"
              class="form-control form-control-sm"
              id="fechaInicio"
              placeholder="Fecha de ida"
            />
            <label for="fechaInicio">Fecha de ida</label>
          </div>
          <div class="form-floating col-lg-2 col-md-4 col-11">
            <input
              type="date"
              class="form-control form-control-sm"
              id="fechaFin"
              placeholder="Fecha de regreso"
            />
            <label for="fechaFin">Fecha de regreso</label>
          </div>
          <div class="form-floating col-lg-2 col-md-4 col-11">
            <input
              type="number"
              class="form-control form-control-sm"
              id="personasInput"
              placeholder="Personas"
              min="1"
            />
            <label for="personasInput">Personas</label>
          </div>
          <div class="col-lg-auto col-md-4 col-11">
            <button class="btn btn-primary btn-lg w-100 rounded-5 fs-6 fw-bold">
              Buscar
            </button>
          </div>
        </div>
      </div>

      <!-- Opción Hospedaje -->
      <div *ngIf="selectedTab === 'hospedaje'" class="my-4">
        <div
          class="row g-2 d-flex justify-content-center align-items-center poppins-light"
        >
          <div class="form-floating col-lg-4 col-md-4 col-11">
            <input
              type="text"
              class="form-control form-control-sm"
              id="floatingLocation"
              placeholder="¿A dónde quieres ir?"
            />
            <label for="floatingLocation">¿A dónde quieres ir?</label>
          </div>
          <div class="form-floating col-lg-2 col-md-4 col-11">
            <input
              type="date"
              class="form-control form-control-sm"
              id="fechaInicio"
              placeholder="Fecha Inicio"
            />
            <label for="fechaInicio">Fecha Inicio</label>
          </div>
          <div class="form-floating col-lg-2 col-md-4 col-11">
            <input
              type="date"
              class="form-control form-control-sm"
              id="fechaFin"
              placeholder="Fecha Término"
            />
            <label for="fechaFin">Fecha Término</label>
          </div>
          <div class="form-floating col-lg-2 col-md-4 col-11">
            <input
              type="number"
              class="form-control form-control-sm"
              id="personasInput"
              placeholder="Huéspedes"
              min="1"
            />
            <label for="personasInput">Huéspedes</label>
          </div>
          <div class="col-lg-auto col-md-4 col-11 d-flex align-items-center">
            <button class="btn btn-primary btn-lg w-100 rounded-5 fs-6 fw-bold">
              Buscar
            </button>
          </div>
        </div>
      </div>

      <!-- Opción Actividades -->
      <div *ngIf="selectedTab === 'actividades'" class="my-4">
        <app-search-bar-activity
          (busquedaEmitida)="buscarDestino($event)"
        ></app-search-bar-activity>
      </div>
    </div>
  </div>
  <!-- Carrusel Vuelos -->
  <div class="container w-75 text-white mt-5 mb-4 rounded">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h3 class="mb-0 text-black poppins-medium">Vuelos Recomendados</h3>
      <button class="btn btn-link poppins-regular">Ver más</button>
    </div>
    <div
      id="carouselVuelos"
      class="carousel slide"
      data-bs-touch="false"
      data-bs-interval="false"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row justify-content-center gx-3">
            <app-card-vuelo
              class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3"
            ></app-card-vuelo>
            <app-card-vuelo
              class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3"
            ></app-card-vuelo>
            <app-card-vuelo
              class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3"
            ></app-card-vuelo>
            <app-card-vuelo
              class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3"
            ></app-card-vuelo>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-center gx-3">
            <app-card-vuelo
              class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3"
            ></app-card-vuelo>
            <app-card-vuelo
              class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3"
            ></app-card-vuelo>
            <app-card-vuelo
              class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3"
            ></app-card-vuelo>
            <app-card-vuelo
              class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3"
            ></app-card-vuelo>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev w-auto px-2 position-absolute top-50 start-0 translate-middle-y"
        type="button"
        data-bs-target="#carouselVuelos"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button
        class="carousel-control-next w-auto px-2 position-absolute top-50 end-0 translate-middle-y"
        type="button"
        data-bs-target="#carouselVuelos"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
  </div>

  <!-- Informacion -->
  <div
    class="container-fluid py-5 w-75 rounded-3 shadow bg-azul-oscuro text-white"
  >
    <div class="row mx-1">
      <div class="col-md-4">
        <h2 class="poppins-medium">Experiencia EXPEDIA, en todo momento</h2>
        <p class="poppins-light">
          Cuando eliges Expedia te acompañamos en cada etapa de tu viaje.
        </p>
      </div>
      <div class="col-md-8 h-50">
        <div class="row">
          <div class="col-md-12 col-lg-4 mb-3 text-break">
            <div
              class="bg-white text-primary p-4 rounded h-100 d-flex flex-column"
            >
              <h5 class="font-weight-bold mb-3 fw-medium poppins-regular">
                Encuentra tu Vuelo
              </h5>
              <p class="small mb-3 poppins-regular">
                Las mejores opciones para llegar a tu destino.
              </p>
            </div>
          </div>
          <div class="col-md-12 mb-3 col-lg-4 text-break">
            <div
              class="bg-white text-primary p-4 rounded h-100 d-flex flex-column"
            >
              <h5 class="font-weight-bold mb-3 fw-medium poppins-regular">
                Reserva Hospedaje
              </h5>
              <p class="small mb-3 poppins-regular">
                Hoteles, departamentos y más para tu estadía.
              </p>
            </div>
          </div>
          <div class="col-md-12 col-lg-4 mb-3 text-break">
            <div
              class="bg-white text-primary p-4 rounded h-100 d-flex flex-column"
            >
              <h5 class="font-weight-bold mb-3 fw-medium poppins-regular">
                Planifica tus Actividades
              </h5>
              <p class="small mb-3 poppins-regular">
                Explora y reserva tus actividades favoritas.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Carrusel Hospedaje -->
  <div class="container-md text-white mt-5 mb-4 rounded w-75">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h3 class="mb-0 text-black poppins-medium">Hospedajes Recomendados</h3>
      <button class="btn btn-link poppins-regular">Ver más</button>
    </div>
    <div
      id="carouselHospedajes"
      class="carousel slide"
      data-bs-touch="false"
      data-bs-interval="false"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row gx-3">
            <app-card-hospedaje
              class="mb-2 card-hospedaje col-12 col-sm-6 col-md-6 col-lg-3"
            ></app-card-hospedaje>
            <app-card-hospedaje
              class="mb-2 card-hospedaje col-12 col-sm-6 col-md-6 col-lg-3"
            ></app-card-hospedaje>
            <app-card-hospedaje
              class="mb-2 card-hospedaje col-12 col-sm-6 col-md-6 col-lg-3"
            ></app-card-hospedaje>
            <app-card-hospedaje
              class="mb-2 card-hospedaje col-12 col-sm-6 col-md-6 col-lg-3"
            ></app-card-hospedaje>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row gx-3">
            <app-card-hospedaje
              class="mb-2 card-hospedaje col-12 col-sm-6 col-md-6 col-lg-3"
            ></app-card-hospedaje>
            <app-card-hospedaje
              class="mb-2 card-hospedaje col-12 col-sm-6 col-md-6 col-lg-3"
            ></app-card-hospedaje>
            <app-card-hospedaje
              class="mb-2 card-hospedaje col-12 col-sm-6 col-md-6 col-lg-3"
            ></app-card-hospedaje>
            <app-card-hospedaje
              class="mb-2 card-hospedaje col-12 col-sm-6 col-md-6 col-lg-3"
            ></app-card-hospedaje>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev w-auto px-2 position-absolute top-50 start-0 translate-middle-y"
        type="button"
        data-bs-target="#carouselHospedajes"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>

      <button
        class="carousel-control-next w-auto px-2 position-absolute top-50 end-0 translate-middle-y"
        type="button"
        data-bs-target="#carouselHospedajes"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
  </div>

  <!-- Carrusel Actividades -->
  <div class="container-md text-white my-4 rounded w-75">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h3 class="mb-0 text-dark poppins-medium">Actividades Recomendadas</h3>
      <button class="btn btn-link poppins-regular">Ver más</button>
    </div>
    <div
      id="carouselActividades"
      class="carousel slide"
      data-bs-touch="false"
      data-bs-interval="false"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row gx-3">
            <app-card-actividad
              class="col-12 col-sm-12 col-md-6 col-lg-6 mt-2"
            ></app-card-actividad>
            <app-card-actividad
              class="col-12 col-sm-12 col-md-6 col-lg-6 mt-2"
            ></app-card-actividad>
            <app-card-actividad
              class="col-12 col-sm-12 col-md-6 col-lg-6 mt-2"
            ></app-card-actividad>
            <app-card-actividad
              class="col-12 col-sm-12 col-md-6 col-lg-6 mt-2"
            ></app-card-actividad>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-center gx-3">
            <app-card-actividad
              class="col-12 col-sm-12 col-md-6 col-lg-6 mt-2"
            ></app-card-actividad>
            <app-card-actividad
              class="col-12 col-sm-12 col-md-6 col-lg-6 mt-2"
            ></app-card-actividad>
            <app-card-actividad
              class="col-12 col-sm-12 col-md-6 col-lg-6 mt-2"
            ></app-card-actividad>
            <app-card-actividad
              class="col-12 col-sm-12 col-md-6 col-lg-6 mt-2"
            ></app-card-actividad>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev w-auto px-2 position-absolute top-50 start-0 translate-middle-y"
        type="button"
        data-bs-target="#carouselActividades"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button
        class="carousel-control-next w-auto px-2 position-absolute top-50 end-0 translate-middle-y"
        type="button"
        data-bs-target="#carouselActividades"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
  </div>

  <!-- Información -->
  <div
    class="container-fluid bg-azul-muy-claro text-white rounded w-75 my-2 mb-5 shadow"
  >
    <div class="row align-items-stretch">
      <div
        class="col-md-6 px-4 px-md-5 d-flex flex-column justify-content-center text-black py-4"
      >
        <h2 class="poppins-medium mb-2 fs-4 fs-md-3 fs-lg-2">
          Crea tu cuenta y obtén beneficios EXPEDIA Pass
        </h2>
        <p class="fs-6 fs-md-5">
          Regístrate y comienza a disfrutar de descuentos personalizados,
          cupones exclusivos y ofertas especiales pensadas solo para ti.
        </p>
        <div class="mt-4 poppins-light d-flex">
          <button
            type="button"
            class="btn btn-outline-primary border-primary me-2 mb-2 mb-md-0"
          >
            Iniciar sesión
          </button>
          <button type="button" class="btn btn-primary me-2 mb-2 mb-md-0">
            Crear cuenta
          </button>
        </div>
      </div>
      <div class="col-md-6 d-none d-md-block position-relative p-0">
        <img
          src="assets/images/imagenInformacionRegistro.webp"
          alt="Mujer Expedia Pass"
          class="img-fluid h-100 w-100 rounded-end object-fit-cover"
        />
        <div
          class="image-gradient position-absolute top-0 start-0 bottom-0 end-50"
        ></div>
      </div>
    </div>
  </div>
</div>
