<!-- Top Bar -->
<app-navbar></app-navbar>

<div class="container-fluid d-flex align-items-center justify-content-center">
  <!-- Left Spacer -->
  <div class="col-0 col-lg-2"></div>

  <!-- Main Content Area -->
  <div class="col-12 col-md-8 px-lg-5 px-sm-0">
    <div class="p-4">
      <div class="card border-secondary text-center mb-4">
        <a class="list-group-item fs-4 py-4">
          <i class="bi bi-backpack"></i>
          Actividades
        </a>
        <app-searchbar></app-searchbar>
      </div>

      <p class="fw-semibold fs-3 fs-sm-5 fs-md-4 mb-4">
        Actividades Recomendadas
      </p>

      <!-- Responsive Grid for Cards, just an example! -->
      <div class="row">
        <div class="col-12 col-xl-3 col-lg-6 col-md-6 mb-4">
          <div class="card h-100 bg-dark text-white text-center">
            <img
              src="assets/images/Bungee-Jumping.jpg"
              class="card-img"
              alt="..."
            />
            <div
              class="card-img-overlay d-flex align-items-center justify-content-center bg-dark bg-opacity-50"
            >
              <h3 class="card-title fw-bold fs-4 fs-md-5 fs-sm-4">
                Bungee Jumping
              </h3>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-3 col-lg-6 col-md-6 mb-4">
          <div class="card h-100 bg-dark text-white text-center">
            <img
              src="assets/images/Bungee-Jumping.jpg"
              class="card-img"
              alt="..."
            />
            <div
              class="card-img-overlay d-flex align-items-center justify-content-center bg-dark bg-opacity-50"
            >
              <h3 class="card-title fw-bold fs-4 fs-md-5 fs-sm-4">Otra cosa</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Right Spacer -->
  <div class="col-lg-2"></div>
</div>
