<nav class="navbar bg-body-tertiary">
  <div class="container-fluid justify-content-center">
    <a class="navbar-brand" href="#">
      <img
        src="assets/images/Logo-Expedia.png"
        alt="Logo"
        height="40"
        class="d-inline-block align-text-top"
      />
    </a>
    <button class="btn border-0 fw-semibold">Anunciar una propiedad</button>
    <button class="btn border-0 fw-semibold">Atención al cliente</button>
    
    <!-- (WIP) Should only appear when logged in -->
    <button class="btn border-0 fw-semibold">Mis Viajes</button>
    <button
      class="btn border border-secondary rounded-pill fw-semibold d-flex align-items-center gap-2 ms-4"
    >
      <i class="bi bi-person-circle"></i>
      Iniciar Sesión
    </button>
  </div>
</nav>
