<div class="container">
  <div class="row gx-4 gy-4 justify-content-center">
    <!-- COL IZQUIERDA -->
    <div class="col-12 col-xl-7 col-md-6">
      <p class="fs-3 fw-semibold">Título de la experiencia</p>
      <textarea
        class="form-control form-control-lg auto-expand fw-semibold fs-3 mb-3"
        rows="1"
        [(ngModel)]="nuevaExperiencia.titulo"
        (input)="autoResize($event)"
      ></textarea>

      <p class="fs-3 fw-semibold">Descripción</p>
      <textarea
        class="form-control auto-expand mb-3"
        rows="7"
        [(ngModel)]="nuevaExperiencia.descripcion"
        (input)="autoResize($event)"
      ></textarea>

      <p class="fs-3 fw-semibold">Caracteristicas</p>
      <div class="row fw-light">
        <div class="col">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="checkCancelacion"
            />
            <label class="form-check-label" for="checkCancelacion">
              Cancelación gratuita disponible
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="checkVoucher"
            />
            <label class="form-check-label" for="checkVoucher">
              Voucher móvil
            </label>
          </div>
        </div>

        <div class="col">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="checkTraslado"
            />
            <label class="form-check-label" for="checkTraslado">
              Traslado de hoteles seleccionados
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="checkAccesibilidad"
            />
            <label class="form-check-label" for="checkAccesibilidad">
              Accesible para personas con movilidad reducida
            </label>
          </div>
        </div>
        <div class="col">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="checkConfirmacion"
            />
            <label class="form-check-label" for="checkConfirmacion">
              Confirmación instantánea
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="checkIdiomas"
            />
            <label class="form-check-label" for="checkIdiomas">
              Varios idiomas
            </label>
          </div>
        </div>
      </div>
    </div>

    <!-- COL DERECHA -->
    <div class="col-12 col-xl-5 col-md-5">
      <p class="fs-3 fw-semibold">Ubicación</p>
      <input
        id="autocomplete"
        class="form-control mb-3"
        type="text"
        placeholder="Busca una dirección..."
      />

      <google-map
        [center]="center"
        [zoom]="zoom"
        height="265px"
        width="100%"
        (mapClick)="onMapClick($event)"
      >
        <map-marker
          *ngIf="markerPosition"
          [position]="markerPosition"
        ></map-marker>
      </google-map>

      <p class="fs-3 fw-semibold mt-3">Categoría</p>
      <div class="row">
        <div class="col">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="categoria"
              id="radioAventura"
              [(ngModel)]="nuevaExperiencia.categoria"
              [value]="'Aventura'"
            />
            <label class="form-check-label" for="radioAventura">Aventura</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="categoria"
              id="radioCultural"
              [(ngModel)]="nuevaExperiencia.categoria"
              [value]="'Cultural'"
            />
            <label class="form-check-label" for="radioCultural">Cultural</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="categoria"
              id="radioGastronomia"
              [(ngModel)]="nuevaExperiencia.categoria"
              [value]="'Gastronomía'"
            />
            <label class="form-check-label" for="radioGastronomia"
              >Gastronomía</label
            >
          </div>
        </div>

        <div class="col">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="categoria"
              id="radioNaturaleza"
              [(ngModel)]="nuevaExperiencia.categoria"
              [value]="'Naturaleza'"
            />
            <label class="form-check-label" for="radioNaturaleza"
              >Naturaleza</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="categoria"
              id="radioHistorica"
              [(ngModel)]="nuevaExperiencia.categoria"
              [value]="'Histórica'"
            />
            <label class="form-check-label" for="radioHistorica"
              >Histórica</label
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
