<div class="exp-disp">
  <h2 class="titulo-disponibilidad"><strong>Disponibilidad</strong></h2>
  <hr class="linea-separadora">
  <div class="botones-container">
    <button class="boton-fecha">
        <div class="fecha">mié. 23 de abr.</div>
        <div class="precio">CLP 37.639</div>
    </button>
    <button class="boton-fecha">
        <div class="fecha">jue. 24 de abr.</div>
        <div class="precio">CLP 37.639</div>
    </button>
    </div>
    <div class="cuadro-incluye">
        <div class="fila">
            <div class="col-izq">
            <span>Qué incluye o no:</span>
            </div>
            <div class="col-der">
            <ul class="lista-incluye">
                <li><i class="bi bi-check-lg"></i> Excursión para grupos pequeños realizada en inglés, español o portugués</li>
                <li><i class="bi bi-check-lg"></i> Guía profesional</li>
                <li><i class="bi bi-check-lg"></i> Impuestos locales</li>
                <li><i class="bi bi-check-lg"></i> Vino y aceite de oliva con galletas</li>
                <li><i class="bi bi-check-lg"></i> Comentarios en vivo a bordo</li>
                <li><i class="bi bi-check-lg"></i> Recogida y entrega en el hotel</li>
                <li><i class="bi bi-x-lg"></i> Comida y bebidas, a menos que se especifique lo contrario</li>
                <li><i class="bi bi-x-lg"></i> Propina opcional</li>
                <li><i class="bi bi-x-lg"></i> 10 por ciento de cargo adicional por equipaje</li>
                <li><i class="bi bi-x-lg"></i> Tarifa de entrada a La Sebastiana</li>
                <li><i class="bi bi-x-lg"></i> Viaje en el funicular de Valparaíso</li>
                <li><i class="bi bi-x-lg"></i> Museo Marítimo Nacional</li>
            </ul>
            </div>
        </div>

        <div class="fila">
            <div class="col-izq">
            <span>De qué se trata:</span>
            </div>
            <div class="col-der">
            <p>Diríjase por la Ruta 68 desde Santiago y pase por el valle de Curacaví en esta excursión de un día completo. Haga una parada en Casablanca para disfrutar de una degustación gratuita de vino y aceite de oliva.</p>
            <p>Continúe hasta Valparaíso, en la costa del Pacífico. La UNESCO declaró el centro histórico de la ciudad Patrimonio Cultural de la Humanidad. Admire sus coloridas casas, incluida La Sebastiana, una de las casas del poeta y premio Nobel Pablo Neruda.</p>
            <p>A continuación, visitará la popular localidad costera de Viña del Mar, donde puede optar por almorzar en un restaurante. La ciudad es conocida como la Ciudad Jardín por sus numerosos parques y hermosas flores.</p>
            <p>Disfrute de toda la costa hasta Reñaca, la zona de playa más popular de la región. En el viaje de regreso, visitarás Via Las Palmas, un lugar único con palmeras en sus colinas.</p>
            </div>
        </div>
    </div>
</div>

