#alertaError {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;  /* Ajusta el máximo ancho para pantallas grandes */
  margin: 0;
  z-index: 9999;
  padding: 10px;
  font-size: 16px;
  text-align: center;
}