<div class="container mt-4" style="max-width: 65%">
  <!-- Título -->
  <div class="mb-3">
    <h2 class="fs-2 fw-bold mb-2">Disponibilidad</h2>
    <hr class="border border-black opacity-100" />
  </div>

  <!-- Botones -->
  <div class="d-flex flex-wrap gap-3 mb-4">
    <button
      type="button"
      class="btn btn-outline-primary d-flex flex-column justify-content-center align-items-center text-center fw-semibold w-100"
      style="max-width: 216px; height: 85px"
    >
      <div class="fs-6">mié. 23 de abr.</div>
      <div class="fs-5">CLP 37.639</div>
    </button>
    <button
      type="button"
      class="btn btn-outline-primary d-flex flex-column justify-content-center align-items-center text-center fw-semibold w-100"
      style="max-width: 216px; height: 85px"
    >
      <div class="fs-6">jue. 24 de abr.</div>
      <div class="fs-5">CLP 37.639</div>
    </button>
  </div>
</div>
