<div class="container mt-4" style="max-width: 65%">
  <div class="mb-3">
    <h2 class="fs-2 fw-bold mb-2">Disponibilidad</h2>
    <hr class="border border-black opacity-100" />
  </div>

  <div class="d-flex flex-wrap gap-3 mb-4">
    <button
      type="button"
      class="btn btn-lg btn-light border border-secondary me-1"
      *ngFor="let fecha of fechasFiltradas"
      [class.active]="fecha === fechaSeleccionada"
      (click)="seleccionarFecha(fecha)"
    >
      {{ dateUtilService.getFechaCorta(fecha.fecha) }}<br /><strong
        >CLP {{ fecha.precio }}</strong
      >
    </button>
  </div>

  <div *ngIf="fechaSeleccionada" class="card p-3 mt-3 ms-2 mb-4">
    <div class="row">
      <div class="col-md-4">
        <p>
          <strong>Desde {{ experiencia?.ubicacion }}:</strong>
        </p>
      </div>

      <div class="col-md-4">
        <p>Adultos</p>
        <div class="d-flex gap-2">
          <button
            class="btn btn-sm btn-secondary me-2"
            (click)="cambiarCantidad('adultos', -1)"
            [disabled]="adultos <= 1"
          >
            <i class="bi bi-dash"></i>
          </button>
          <span>{{ adultos }} adulto{{ adultos > 1 ? "s" : "" }}</span>
          <button
            type="button"
            class="btn btn-sm btn-secondary ms-2"
            (click)="cambiarCantidad('adultos', 1)"
          >
            <i class="bi bi-plus"></i>
          </button>
        </div>
        <p class="mt-2">Niños</p>
        <div class="d-flex gap-2">
          <button
            class="btn btn-sm btn-secondary me-2"
            (click)="cambiarCantidad('ninos', -1)"
            [disabled]="ninos <= 0"
          >
            <i class="bi bi-dash"></i>
          </button>
          <span>{{ ninos }} niño{{ ninos !== 1 ? "s" : "" }}</span>
          <button
            class="btn btn-sm btn-secondary ms-2"
            (click)="cambiarCantidad('ninos', 1)"
          >
            <i class="bi bi-plus"></i>
          </button>
        </div>
      </div>

      <div class="col-md-4">
        <p>
          CLP {{ fechaSeleccionada.precio }} × {{ adultos }} adulto{{
            adultos > 1 ? "s" : ""
          }}
        </p>
        <p *ngIf="ninos > 0">
          + CLP {{ 20000 }} × {{ ninos }} niño {{ ninos > 1 ? "s" : "" }}
        </p>
        <p class="fw-bold text-primary">Total: CLP {{ calcularTotal() }}</p>
        <button type="button" class="btn btn-primary" (click)="irAPagar()">
          Reservar
        </button>
      </div>
    </div>
  </div>
</div>
