<div class="wrapper">
  <div class="titulo">
    <strong>Santiago:</strong><br/>
    <strong>Tour de Viña del Mar, Valparaíso, Casablanca y Reñaca</strong>
  </div>  
  <div class="images-layout">
    <img src="assets/images/vina.png" class="main-image" alt="Main image of Vina" />
    <div class="side-images">
      <div class="top-row">
        <img src="assets/images/playa.png" alt="Image of Playa" />
        <img src="assets/images/valpo-noche.png" alt="Night view of Valparaiso" />
      </div>
      <img src="assets/images/casa.png" class="bottom-img" alt="Image of a house" />
    </div>
  </div>
</div>
