<div class="container mt-5">
  <p class="fs-4 fw-semibold">Disponibilidad</p>
  <div class="border-top mb-4"></div>

  <!-- Formulario de Nueva Fecha -->
  <div class="container-fluid py-5">
    <div class="row justify-content-center align-items-start">
      <!-- Panel Izquierdo -->
      <div class="col-md-5 mb-4">
        <div class="p-4 bg-light shadow rounded-3 h-100">
          <div class="mb-5">
            <label class="form-label fs-5">Fecha</label>
            <div class="input-group">
              <span class="input-group-text text-primary">
                <i class="bi bi-calendar-plus fs-5"></i>
              </span>
              <input
                type="date"
                class="form-control border-primary"
                [(ngModel)]="nuevaFecha"
              />
            </div>
          </div>

          <div class="d-flex align-items-center gap-3 mb-4">
            <label class="form-label fs-5">Precio</label>
            <input
              type="number"
              class="form-control border-primary"
              [(ngModel)]="nuevoPrecio"
              placeholder="Ingrese un precio"
            />
          </div>

          <div class="d-flex justify-content-end">
            <button
              class="btn btn-primary px-4 py-2 rounded-pill shadow"
              (click)="aceptarFecha()"
            >
              Aceptar
            </button>
          </div>
        </div>
      </div>

      <!-- Separador vertical -->
      <div class="col-md-1 d-none d-md-flex justify-content-center">
        <span
          class="border border-danger"
          style="height: 100%; width: 1px"
        ></span>
      </div>

      <!-- Panel Derecho -->
      <div class="col-md-5">
        <div class="mb-4">
          <h5 class="fw-semibold">Fechas Agregadas</h5>
          <ul class="list-group">
            <li *ngIf="fechas.length === 0" class="list-group text-muted">
              Añade una fecha...
            </li>
            <li
              *ngFor="let f of fechas"
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <span>{{ f.fecha | date : "longDate" }}</span>
              <span class="fw-semibold">
                {{ f.precio | currency : "CLP" : "symbol" : "1.0" }}
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
