<div class="container" style="max-width: 65%; padding: 0;">
  <div class="mb-4">
    <h1 class="fs-2 fw-normal mb-3 lh-1">
      <strong>Santiago:</strong><br/>
      <strong>Tour de Viña del Mar, Valparaíso, Casablanca y Reñaca</strong>
    </h1>
  </div>

  <div class="row g-2">
    <!-- Imagen principal -->
    <div class="col-lg-7 col-12">
      <img src="assets/images/vina.png" 
           alt="Main image of Vina" 
           class="img-fluid w-100 object-fit-cover" 
           style="aspect-ratio: 4 / 3;">
    </div>

    <!-- Columna derecha -->
    <div class="col-lg-5 col-12 d-flex flex-column gap-2">
      <div class="d-flex" style="gap: 0.5rem;">
        <img src="assets/images/playa.png" 
            alt="Image of Playa" 
            class="img-fluid object-fit-cover" 
            style="aspect-ratio: 1 / 1; width: calc(50% - 0.25rem);">
        <img src="assets/images/valpo-noche.png" 
            alt="Night view of Valparaiso" 
            class="img-fluid object-fit-cover" 
            style="aspect-ratio: 1 / 1; width: calc(50% - 0.25rem);">
      </div>
      <img src="assets/images/casa.png" 
          alt="Image of a house" 
          class="img-fluid w-100 object-fit-cover" 
          style="aspect-ratio: 16 / 8.7;">
    </div>
  </div>
</div>
