<div class="exp-other">
    <div class="titulo">
      <strong>Otras actividades recomendadas:</strong>
    </div>
    <div class="cards-otras-actividades">
      <div class="actividad-card">
        <img class="actividad-img" src="assets/images/esqui.png" alt="Actividad 1" />
        <div class="actividad-contenido">
          <h3>Santiago: excursión de un día al centro de esquí de Valle Nevado y Farellones</h3>
          <div class="actividad-info">
            <i class="bi bi-clock-history"></i>
            <span>9h o más</span>
          </div>
          <div class="actividad-valoracion">
            <strong>9/10</strong>
            <span>(4)</span>
          </div>
          <div class="actividad-footer">
            <div class="actividad-cancelacion">
              Cancelación gratuita disponible
            </div>
            <div class="actividad-precio">
              <span class="precio">CLP 41,275</span>
              <span class="precio-adulto">por adulto*</span>
            </div>
          </div>
        </div>
      </div>
      <div class="actividad-card">
        <img class="actividad-img" src="assets/images/santiago.png" alt="Actividad 2" />
        <div class="actividad-contenido">
          <h3>Recorrido por la ciudad de Santiago de Chile</h3>
          <div class="actividad-info">
            <i class="bi bi-clock-history"></i>
            <span>5h</span>
          </div>
          <div class="actividad-valoracion">
            <strong>9.4/10</strong>
            <span>(166)</span>
          </div>
          <div class="actividad-footer">
            <div class="actividad-cancelacion">
              Cancelación gratuita disponible
            </div>
            <div class="actividad-precio">
              <span class="precio">CLP 41,275</span>
              <span class="precio-adulto">por adulto*</span>
            </div>
          </div>
        </div>
      </div>
      <div class="actividad-card">
        <img class="actividad-img" src="assets/images/moneda.png" alt="Actividad 3" />
        <div class="actividad-contenido">
          <h3>Recorrido turístico clásico por la ciudad de Santiago</h3>
          <div class="actividad-info">
            <i class="bi bi-clock-history"></i>
            <span>4h</span>
          </div>
          <div class="actividad-valoracion">
            <strong>8.8/10</strong>
            <span>(2)</span>
          </div>
          <div class="actividad-footer">
            <div class="actividad-cancelacion">
              Cancelación gratuita disponible
            </div>
            <div class="actividad-precio">
              <span class="precio">CLP 41,275</span>
              <span class="precio-adulto">por adulto*</span>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
